<% include partials/header.ejs %>
    <link rel="stylesheet" href="/css/styles.css" />
        <h1> Welcome to the Solar System </h1>
        <p>Click on a planet to know more about it:</p>
        
            <a href="/"> The Solar System </a> <br>
            <a href="/mercury"> Mercury </a> <br>
            <a href="/venus"> Venus </a> <br>
            <a href="/mars"> Mars </a> <br>
            <a href="/jupiter"> Jupiter </a> <br>
        <img src="/img/solar_system.jpg" width=500px /> <br>
        
        <p>
            This solar system has 9 planets, or was it 8 or 10? I'm too lazy to google it. <br>
            I googled it, it has 8 planets. Used to be 9 but pluto isn't classified as a planet anymore. 
            Inside the milky way, its one of billions of solar systems in the universe. <br>
            There's a theory that the universe will end when it expands too much, but we'll be long gone by then!
        </p>
        
<% include partials/footer %>