<% include partials/header.ejs %>
    <link rel="stylesheet" href="/css/styles.css" />
        <h1> Welcome to Jupiter </h1>
        <p>Click on a planet to know more about it:</p>
        
            <a href="/"> The Solar System </a> <br>
            <a href="/mercury"> Mercury </a> <br>
            <a href="/venus"> Venus </a> <br>
            <a href="/mars"> Mars </a> <br>
            <a href="/jupiter"> Jupiter </a> <br>
        <img src="/img/jupiter.jpg" width=500px /> <br>
        
        <p> Jupiter is a gas giant, and 2 of its moons Europa and Io have life on it, we just haven't found it yet.<br>
            It has a very strong magnetic field and gravity so it's more difficult to send probes there than other planets. <br>
            I think there's 3 probes currently in its orbit taking pictures.
        </p>
        
<% include partials/footer %>