<% include partials/header.ejs %>
    <link rel="stylesheet" href="/css/styles.css" />
        <h1> Welcome to Mars </h1>
        <p>Click on a planet to know more about it:</p>
        
            <a href="/"> The Solar System </a> <br>
            <a href="/mercury"> Mercury </a> <br>
            <a href="/venus"> Venus </a> <br>
            <a href="/mars"> Mars </a> <br>
            <a href="/jupiter"> Jupiter </a> <br>
        <img src="/img/mars.jpg" width=350px /> <br>
        
        <p> 
            Mars is a red planet, and has aliens on it. We just haven't found them yet. <br>
            It's the subject of many movies and games about hostile alien life. <br>
            There's plans to land on it and build a colony over there. 
        </p>
        
<% include partials/footer %>