<% include partials/header.ejs %>
    <link rel="stylesheet" href="/css/styles.css" />
        <h1> Welcome to Venus </h1>
        <p>Click on a planet to know more about it:</p>
        
            <a href="/"> The Solar System </a> <br>
            <a href="/mercury"> Mercury </a> <br>
            <a href="/venus"> Venus </a> <br>
            <a href="/mars"> Mars </a> <br>
            <a href="/jupiter"> Jupiter </a> <br>
        <img src="/img/venus.jpg" width=500px /> <br>
        
        <p> 
            Nobody cares about Venus. It's just the closest planet to our star. How exciting. <br>
            Edit: from google images, apparently it used to be habitable? That's actually interesting! <br>
            It's not actually the closest, that title belongs to mercury. The more you know!
        </p>
        
<% include partials/footer %>